*{
    padding: 0;
    border: 0;
    color: rgb(172, 57, 57);
}

body.fondo {
    background-image: url('../assets/images/Paisajes.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
header {
     height: 58px;
    background:rgba(0, 0, 255, 0.342);
}

.block{
    display: inline-block;
   }
.logo {
    background: rgba(21, 105, 194, 0.39);
    margin: 3px 5px;
    border-radius: 4px;
    padding: 3px;
}

.tab {
background: rgba(21, 105, 194, 0.39);
margin:4px 0;
margin-left:10px; 
margin-right: 9px;
padding-left: 5px;
box-sizing: border-box;

}

ul {
   list-style: none;
   text-decoration:none;
   color:white;
   margin: 0;
   

}

li {
    background: rgba(21, 105, 194, 0.616);
    display: inline-block;
}
 .icono {
     font-size:25px;
     text-align: center; 
     padding:7px; 
 }

 .perfil {
     border-radius: 50px;
     background: rgba(21, 105, 194, 0.39);
     padding: 10px;
     margin-right: 10px;
 }
.border{
    background: transparent;
    border-radius: 4px;
    height: 45px;
}


img.logo-center {
    width:84px;
    position: relative;
    left: 300px;
}


.icons {
    float: right;
}

.search  {
    background: rgba(21, 105, 194, 0.39);
  
}

/* ----------------------------------------------------------- */

.list{
    background: rgba(42, 75, 185, 0.438);
    height: 80px;
    width: 250px;
    margin: 14px 0 28px 21px;
    display: block;
    /* overflow-wrap: break-word; */
}

button {
    position: relative;
    float:right;
    border-radius: 3px;
    padding: 7px;
    background:rgba(0, 0, 255, 0.521);
}

.item {
    background: rgba(38, 0, 255, 0.5);
  
}

.title{
    background: red;
    display: block;

}

.task {
    background: yellow;
    
}