*{
    padding: 0;
    border: 0;
    color: rgb(253, 251, 251);
    font-size:17px; 
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif;
}

body.fondo {
    background-image: url('../assets/images/Paisajes.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

header {
     height: 58px;
     background:rgba(0, 38, 255, 0.384);
}
/* estilos reutilizables */
.block{
     display: inline-block;
     /* background: rgba(21, 110, 194, 0.493); */
}

.logo {
    /* background: rgba(21, 110, 194, 0.904); */
    margin: 3px 5px;
    border-radius: 4px;
    padding: 2px;
}

.tab {
     background: rgba(21, 47, 194, 0.459);
     margin:4px 0;
     margin-left:10px; 
     margin-right: 9px;
     padding-left: 4px;
     box-sizing: border-box;
     border-radius:5px;
}

.icono {
    font-size:21px;
    text-align: center; 
    padding:7px; 
}

.icons {
    float: right;
}

.search  {
    padding: 1px 9px;
    background:rgba(0, 0, 255, 0.26) ;
}
/* estilos para el nav */
ul {
    list-style: none;
    text-decoration:none;
    color:white;
    margin: 0;  
}

li {
    background: rgba(21, 105, 194, 0.616);
    display: inline-block;
}

.perfil {
     border-radius: 50px;
     background: rgba(21, 105, 194, 0.39);
     padding: 14px;
     margin-right: 18px;
     margin-top: 7px;
}

.border{
    border-radius: 4px;
    height: 45px;
}

img.logo-center {
    width:84px;
    position: relative;
    left: 250px;
    top: 7px;
}


/* estilos para listas y tareas creadas */
.list{
    background: rgba(42, 75, 185, 0.438);
    height: 100px;
    width: 250px;
    margin: 23px 0 70px 21px;
    display:block;
    box-sizing: border-box;
    /* overflow-wrap: break-word; */
}

button {
    position: relative;
    float:right;
    border-radius: 3px;
    padding: 7px;
    background:rgba(23, 61, 230, 0.582);
}
input {
     background: rgba(18, 18, 245, 0.397);
     width: 250px;
     height: 22px;
     border-radius: 5px;
}

label {
    background: rgba(0, 153, 255, 0.466);
    display: block;
    box-sizing: border-box;
    padding: 7px;
    border-radius: 5px;
    margin: 11px;
}

.item {
    background: rgba(34, 0, 255, 0.322);
}

.title{
    background: rgba(62, 167, 238, 0.514);
    display:block;
    padding: 7px 0;
    margin:14px;
    font-size: 17px;
    border-radius: 5px;

}

.red{
    margin-bottom: 42px;
    display: inline-block;
}